<%- include('../partials/header') %>

<form id="new-ticket-form" action="/flights/<%= flight %>/tickets" method="POST">
    <label>Seat Number:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input name="price" required>
    <input type="submit" value="Add Ticket">
</form>

<%- include('../partials/footer') %>